<div *ngIf="!gameState?.playing">

  <simon-highscore [games]="games"></simon-highscore>

</div>

<div *ngIf="gameState?.playing" class="fullscreen {{gameState?.gameColor}}">

  <div>
    <h1>Welcome to the
      {{gameState?.gameColor}}
      team!</h1>
    <p>
      Repeat the sequence after me
    </p>
  </div>

</div>

<div *ngIf="gameState?.score > 0 && gameState?.playing" class="fullscreen {{gameState?.lastColor}}">

  <div class="sayings-sprite sprite{{spriteNumber}}"></div>

</div>

<div *ngIf="gameState?.gameOver" class="fullscreen {{gameState?.gameColor}}">

  <div class="message">
    <h1>Game over</h1>
    <p>Play again</p>
  </div>

</div>

<footer>
  <p>
  github.com/urish/ng2-simon
  </p>
  <small>powered by angular2, firebase and raspberry pi</small>
</footer>
